.header {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    text-align: center;
    background-image: url('resources/Banner Image.png');
    background-size: cover;
    height: 600px;
    width: 1320px;
    margin-left: 110px;


}

.first {
    font-size: 60px;
    position: absolute;
    text-align: center;
    color: white;
    top: -20px;
    left: 500px;

}

.second {
    font-size: 90px;
    text-align: center;
    color: red;
}

.Third {
    text-align: center;
    color: red;
    font-size: 23px;
}

.fourth {
    font-size: 50px;
    text-align: center;
    color: black;
}

.new-year {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.background-image {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.overlay-image {
    position: absolute;
    top: 1820px;
    left: 950px;
}

.head {
    position: absolute;
    top: 1820px;
    left: 200px;
    color: white;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.letter {
    position: absolute;
    top: 2060px;
    color: white;
    left: 200px;
}

.join-now {
    color: white;
    position: absolute;
    top: 2200px;
    left: 240px;
    background-color: none;
    font-size: 18px;
    border: none;
    background: none;
}

.join {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    margin-top: 120px;
    margin-left: 100px;


}

.text-container {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    padding-top: 100px;
}

#text {
    color: red;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.btn {
    color: white;
    background-color: red;
    padding: 16px 32px 16px 32px;
    border-radius: 5px;
    margin-left: 608px;
    border: none;

}

.elip {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.new img {
    border: 10px solid red;
    border-radius: 500%;
    display: block;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;

}

.bestoffer {
    color: red;
    font-size: 24px;
    margin-bottom: -100px;


}

.soon {
    color: #070211;
    font-size: 48px;
    margin-top: 120px;
}

.dolor {
    color: rgba(7, 2, 17, 0.60);
    margin-top: -30px;
}

.bestoffer1 {
    color: red;
    font-size: 48px;
}

.sit {
    color: rgba(7, 2, 17, 0.60);
}

.func {
    text-align: center;
    font-size: 24px;
}

.holi {
    text-align: center;
    font-size: 72px;
    margin-top: -10px;

}

.day {
    color: red;
}

.ut {
    text-align: center;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    margin-top: -10px;

}

.bonus {
    position: relative;
}

.rect {
    margin-top: 450px;
    margin-left: 110px;
    position: absolute;

}

.girl {
    margin-left: -430px;
    position: absolute;
    margin-top: -430px;
}

.discount {
    position: absolute;
    margin-left: -600px;
    margin-top: -350px;
}

.box {
    position: absolute;
    margin-top: 10px;
    margin-left: 120px;

}

.best {
    color: red;
    font-size: 24px;
    margin-left: 120px;
    margin-top: 800px;

}

.portfolio {
    font-size: 48px;
    margin-left: 120px;
    margin-top: 10px;
}

.parag {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    margin-left: 120px;
    margin-top: 10px;
}

.picture {
    margin-top: 50px;
}

.column1 {
    display: flex;
    margin: 0px 120px 0px 160px;
    gap: 20px;
    justify-content: space-around;
}

.column2 {
    display: flex;
    margin: 0px 120px 0px 160px;
    gap: 20px;
    justify-content: space-around;
}

.back-pic {
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 500px;
    margin-top: 120px;
    margin-left: 100px;
}

.mail-box {
    position: absolute;
    margin-top: 60px;
    margin-left: 610px;
}

.newsle {
    position: absolute;
    font-size: 48px;
    margin-top: -260px;
    margin-left: 580px;
}

.tex {
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    position: absolute;
    margin-top: -180px;
    margin-left: 400px;

}

.footer {
    background: #070211;
    width: 1550px;
    height: 600px;

}

.build {
    color: white;
    font-size: 24px;
    position: absolute;
    margin-top: -480px;
    margin-left: 100px;
}

.Reserved {
    color: white;
    font-size: 24px;
    position: absolute;
    margin-top: -140px;
    margin-left: 100px;
}

.call-num {
    position: absolute;
    margin-top: -460px;
    margin-left: 1000px;
}
.websit {
    position: absolute;
    margin-top: -430px;
    margin-left: 1000px;
}
.cal{
    position: absolute;
    color: white;
    font-size: 24px;
    margin-top: -462px;
    margin-left: 1050px;

}
.site{
    position: absolute;
    color: white;
    font-size: 24px;
    margin-top: -435px;
    margin-left: 1050px;
}
.unsub{
    position: absolute;
    color: white;
    font-size: 24px;
    margin-top: -130px;
    margin-left: 1230px;
}
.logo{
    position: absolute;
    margin-top: -330px;
    margin-left: 600px;
    

}